.navigation_subMenu li button,.navigation_subMenu li a{
    font-size: calc(14px * var(--font-scale-multiplier, 1));
    font-weight: 400;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}
.navigation_subMenu li button{
    color: #fff !important;
}
/* .navigation_subMenu li button:hover,.navigation_subMenu li a:hover,.navigation_subMenu li svg:hover{
    color: #004C8F;
    background: transparent;
} */
.navigation_subMenu li:hover,.navigation_subMenu:hover{
    background: transparent;
}
@media (max-width: 1288px) and (min-width: 1024px){
    .navigation_subMenu{
        gap: 0;
    }
    .navigation_subMenu li[data-slot="navigation-menu-item"] button,.navigation_subMenu li[data-slot="navigation-menu-item"] a{
        padding: 5px 8px;
    }
   
}

@media (max-width: 1024px){
    .navigation_subMenu li button,.navigation_subMenu li a{
    font-size: calc(12px * var(--font-scale-multiplier, 1));
}
}